@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>A little about Joel:</h1>
    <ul style="list-style-type: none; padding: 0; text-align: left;">
        <li><strong>Name:</strong> Joel Hilton</li>
        <li><strong>Age:</strong> A film aficionado, just 2 years, 2 months, and 2 days younger than our esteemed client</li>
        <li><strong>Film Studies:</strong> Graduated with flying colors in Film Studies from BYU, where he mastered the art of capturing cinematic moments</li>
        <li><strong>Reviewer Extraordinaire:</strong> Joel is not just a film buff but also contracts as a movie reviewer for ClearPlay, where his critiques are as sharp as a well-edited scene</li>
        <li><strong>Podcast Maestro:</strong> As if that's not enough, Joel is the creative genius behind the weekly podcast sensation, "Baconsale," where he dissects films and pop culture with wit and humor</li>
        <li><strong>Movie Collection:</strong> A connoisseur of quality cinema, Joel curates an ever-expanding movie collection, allowing only the crème de la crème to grace his shelves</li>
        <li><strong>Organizational Whiz:</strong> To manage his vast collection, Joel devised a sophisticated spreadsheet, proving that his love for organization matches his love for film</li>
        <li><strong>Spreadsheet Mastery:</strong> Currently, Joel meticulously maintains and updates his movie information on a Google Sheet, showcasing his tech-savvy side</li>
        <li><strong>Marital Movie Bliss:</strong> Let it be known that a few films in Joel's collection were not just chosen; they were married into, adding a touch of romantic comedy to his otherwise intense movie lineup</li>
        <li><strong>Favorite Movie Quote:</strong> "You sit on a throne of lies" - Buddy the elf</li>
    </ul>
    <h3>Joel has also created the following websites:</h3>
    <ul style="list-style-type: none; padding: 0; text-align: left;">
        <li><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></li>
        <li><a href="https://baconsale.com/">Baconsale Podcast</a></li>
        <li><a href="https://baconsale.com/"><img src="~/img/baconsalekate.jpg" height="180" /></a></li>

    </ul>

</div>
